<br/>
<br/>

At SK Dresses, we offer our clients distinctive, custom made shalwar kameez dresses. 
<br/>
<br/>We're only a phone call or email away to discuss your needs:
<br/>
<br/>
<h4>Phone:</h4> (416)-803-3279<br/><br/>

<%=mail_to "skdress@gmail.com" do %>
  <h4>Email:</h4> <span>SKDress@gmail.com</span>
<% end %>



