<!DOCTYPE html>
<html>
<head>
  <title>Skdress</title>
  <link rel="stylesheet" media="all" href="/assets/home.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="true" />
<link rel="stylesheet" media="all" href="/assets/application.self-e80e8f2318043e8af94dddc2adad5a4f09739a8ebb323b3ab31cd71d45fd9113.css?body=1" data-turbolinks-track="true" />
  <script src="/assets/jquery.self-c64a74367bda6ef8b860f19e74df08927ca99d2be2ac934e9e92d5fd361e0da4.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/jquery_ujs.self-d602bdfe68ffc63b9f9cc512872aa3cfff046228a0a36e90dd476e8ef54c1b09.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/turbolinks.self-c37727e9bd6b2735da5c311aa83fead54ed0be6cc8bd9a65309e9c5abe2cbfff.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/home.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/application.self-3b8dabdc891efe46b9a144b400ad69e37d7e5876bdc39dee783419a69d7ca819.js?body=1" data-turbolinks-track="true"></script>
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="yhdoKrbQGpIWj6Z+PQJDiYLgvVNO8D3FzqyhEgdKvt4KHbC4ejr9mmLq+vN5gwBpBRxk0aW97HCqMB4iuUNagA==" />
</head>
<body>

<html>
<head>
<style type="text/css">

	
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}



h1{font-style: italic;
color: black;
}

</style>
</head>

<body>
<h1>Welcome to SK Dresses Inc</h1>
<ul>
<li> <b>New Arrivals</b> </li>

<li><b>Dresses</b></li>
<li><b>Bags</b></li>
<li><b>Sale</b></li>	
</ul></b>
</body>

</html>


</body>
</html>