<!DOCTYPE html>
<html>
<head>
  <title>Skdress</title>
      

      </head>
<body>

<li><h4><%= link_to 'Browse Our Samples Gallery', products_dresses_path%></h4></li>

<div class="jumbotron">

<p><font size="3" color="black"> Welcome to SK Dresses website. Here, you will find a great variety of distinctive, custom made, Pakistani shalwar kameez dresses. Please browse through our product collection and contact us for your custom orders!</font> 
</p>

<div id="myTopThreeImages" class="carousel slide" data-ride="carousel">
<!--<ol class="carousel-indicators">
<li data-target="#myTopThreeImages" data-slide-to="0" class="active"></li>
</ol>-->

<div class="carousel-inner" role="listbox">
<% if @products.present?%><!--this checks if there are any objects in the products-->

<div class="item active">
<%= image_tag(@products.first.image.url(:medium))%>
</div> <!--covered with the item active-->


<div class="item">
<%= image_tag(@products.last.image.url(:medium))%>
</div><!--covered with the item-->
<%end%> <!--end of the if statement to check if the products are empty-->

 <a class="left carousel-control" href="#myTopThreeImages" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myTopThreeImages" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!--covers carousel-inner-->
</div><!--covers div id "myTopThreeImages"-->

<br/>
<br/>
<div id="push"></div>
<div id="push"></div>
<div id="push"></div>

<div align="center">


<%=link_to "Browse our samples gallery", products_path, class: "btn btn-primary btn-medium"%>


</div>

</div> <!-- this is where Jumbotron ends-->


</body>

</html>


